{
  "env": {
    "node": true
  },
  "rules": {
    "semi": [2, "always"], // see Semicolon
    "camelcase": 1, // see Variable declarations
    "brace-style": [2, "stroustrup"], // implicit no single line expressions here
    "quotes": [2, "single"], // https://github.com/hapijs/contrib/blob/master/Style.md#string-literals
    "func-style": [2, "expression"], // https://github.com/hapijs/contrib/blob/master/Style.md#function-declaration
    "no-underscore-dangle": 0, // explicitly off - https://github.com/hapijs/contrib/blob/master/Style.md#prototype-members
    "consistent-this": [2, "self"], // see https://github.com/hapijs/contrib/blob/master/Style.md#prototype-members
    "no-spaced-func": 2, // see https://github.com/hapijs/contrib/blob/master/Style.md#spaces
    "no-space-before-semi": 2, // https://github.com/hapijs/contrib/blob/master/Style.md#spaces
    "no-mixed-spaces-and-tabs": 2, // see https://github.com/hapijs/contrib/blob/master/Style.md#whitespace
    "space-after-keywords": 2, // see https://github.com/hapijs/contrib/blob/master/Style.md#spaces
    "space-infix-ops": 2, // see https://github.com/hapijs/contrib/blob/master/Style.md#spaces
    "space-in-brackets": [1, "always", { // see https://github.com/hapijs/contrib/blob/master/Style.md#spaces but not complete
      "singleValue": true,
      "objectsInArrays": true,
      "arraysInArrays": true
    }],
    "curly": [2, "all"], // see https://github.com/hapijs/contrib/blob/master/Style.md#scope

    "strict": 0, // not mentioned, what's the pref here?
    // all others are not explicitly mentioned in styleguide but good suggestions. all are marked as warnings
    "no-unused-vars": 1,
    "no-trailing-spaces": 1,
    "space-return-throw-case": 1,
    "no-use-before-define": 1,
    "eqeqeq": 1,
    "no-eq-null": 1,
    "dot-notation": 1,
    "no-eval": 1,
    "no-else-return": 1,
    "no-extend-native": 1,
    "no-return-assign": 1,
    "no-new-wrappers": 1,
    "no-native-reassign": 1,
    "no-constant-condition": 1,
    "no-comma-dangle": 1,
    "no-sparse-arrays": 1,
    "no-ex-assign": 1,
    "new-parens": 1,
    "no-array-constructor": 1,
    "no-lonely-if":  1,
    "no-new-object": 1,
    "space-unary-ops": 1,
    "sort-vars": 1,
    "yoda": [1, "never"]
  }
}